.AppBody {

    background-color: steelblue;
    width: 60%;
    height: 90vh;
    margin: 16px auto 0 auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
}